@font-face {
   font-family: '方正萌艺字体';
   font-display: swap;
   src: url('file:///C:/Users/User/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-06-11_165759/fonts/%E6%96%B9%E6%AD%A3%E8%90%8C%E8%89%BA%E5%AD%97%E4%BD%93/font.TTF');
}
