@font-face {
   font-family: '奶酪陷阱体_mianfeiziti.com';
   font-display: swap;
   src: url('file:///C:/Users/User/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-06-11_165759/fonts/%E5%A5%B6%E9%85%AA%E9%99%B7%E9%98%B1%E4%BD%93_mianfeiziti.com/font.ttf');
}
